<%- include ../component/header.ejs %>
    <%- include ../component/menu.ejs %>
        <section class="py-5 ">
            
            <!-- Page Content -->
    <div class="container">

            <div class="row">
      
              <!-- Post Content Column -->
              <div class="col-lg-12">
      
                <!-- Title -->
                <h1 class="mt-4"><%= event.judul %></h1>
      
                <!-- Author -->
                <p class="lead">
                  Penyelenggara :
                  <%= event.penyelenggara %>
                </p>
      
                <hr>
      
                <!-- Date/Time -->
                <button class="btn btn-outline-danger pull-left">Waktu : <%= event.tanggal %></button> <button class="btn btn-outline-info pull-right"><%= event.tipe %></button>
                <br><br>
               
      
                <!-- Preview Image -->
                <img class="img-fluid rounded" src="http://localhost:3000/<%= event.foto %>" alt="">
      
                <hr>
      
                <!-- Post Content -->
                <h3>Keterangan :</h3>
                <%- event.keterangan %>
      
                <hr>
      
                
      
                
      
              </div>
      
              
      
            </div>
            <!-- /.row -->
      
          </div>
          <!-- /.container -->

            

        </section>

        <!-- /.container -->
        <%- include ../component/footer.ejs %>