<%- include ../component/header.ejs %>
<%- include ../component/menu.ejs %>


        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('img/slide3.jpeg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>NodeJs MongoDb BootCamp</h3>
                        <p>This is a description for the first slide.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('img/slide2.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Meteor Js vs Angular Js</h3>
                        <p>This is a description for the second slide.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('img/slide1.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>MongoDb Basic</h3>
                        <p>This is a description for the third slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5 ">
        <div class="container ">
            <h3 class="text-center">Ikuti Event JavaScript di Kota Purwokerto</h3>
            <p class="text-center">Dapatkan pengalaman dan ilmu yang bermanfaat untuk karir developermu</p>
            <br>
            <form>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="judul" placeholder="ex. React Native">
                    </div>
                    <div class="col">
                            <input type="date" class="form-control" name="tanggal" placeholder="ex. React Native">
                    </div>
                    <div class="col">
                        <input type="submit" class="form-control btn btn-danger" value="Cari">
                    </div>
                </div>
            </form>

        </div>

    </section>

    <section class="py-5 bg-warning">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h2 class=""><b>Selamat Datang</b></h2>
                        <p>Selamat datang di situs #PURWOKERTOJSORG adalah sebuah website berisi informasi seputar event dunia
                            javascript di kota purwokerto. Pastikan anda terdaftar dan berpartisipasi pada setiap eventnya.
                            Mari upgrade skill javascript anda!</p>

                        <a href="register" class="btn btn-danger btn-xl js-scroll-trigger">Daftar member!</a>
                        <a href="login" class="btn btn-info btn-xl js-scroll-trigger">Login</a>
                    </div>
                </div>

                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/javascript.png" class="img-fluid" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase">All Events</h2>
                  <h3 class="section-subheading text-muted">Daftar event Javascript di Kota Purwokerto.</h3>
                </div>
              </div>
              <div class="row">
                  <% if(events.length>0) { %>
                    <% for(var i=0; i<events.length;i++) { %>
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="/home/detail/<%= events[i].id%>">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="http://localhost:3000/<%= events[i].foto%>" alt="">
                    
                  </a>
                  <div class="portfolio-caption">
                    <h4><a href="/home/detail/<%= events[i].id%>"></href><%= events[i].judul%></a></h4>
                    <p class="text-muted"><%= events[i].tipe%></p>
                  </div>
                </div>
                <% } %>
                <% } else { %>
                  <div>No events found.</div>
                  <% } %>
                </div>
              </div>
            </div>
          </section>
          <!-- Clients -->
    <section class="py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
                  </a>
                </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
                  </a>
                </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
                  </a>
                </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>

    <%- include ../component/footer.ejs %>