<%- include ../component/header.ejs %>
    <%- include ../component/menu.ejs %>
    <section class="py-5 ">
            <div class="container ">
                <br>
                <h1 class="text-center">Meetup</h1>
                <div class="text-center">Home / Meetup</div>
            
            </div>
        
        </section>
        <!-- Page Heading -->
        <section class="py-5">
            <div class="container ">
                    <% if(meetup.length>0) { %>
                        
                <div class="row">
                        <% for(var i=0; i<meetup.length;i++) { %>
                    <div class="col-lg-6 portfolio-item">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top" src="http://localhost:3000/<%= meetup[i].foto %>" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/meetup/detail/<%= meetup[i].id%>"><%= meetup[i].judul %></a>
                                </h4>
                                <p class="card-text"><%= meetup[i].sub %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                
                <% } else { %>
                  <div>No meetups found.</div>
                  <% } %>
                </div>
                <!-- /.row -->

                <!-- Pagination 
                
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>-->
            </div>

        </section>

        <!-- /.container -->
        <%- include ../component/footer.ejs %>