<%- include ../component/admin/header_admin.ejs %>
<%- include ../component/admin/sidebar.ejs %>
<%- include ../component/admin/navigation.ejs %>
<%- include ../component/admin/breadcumbs.ejs %>
<%- include icon_stats.ejs %>

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Events</div>
        <div class="card-body">
            <h4>Edit Events</h4>
            <div class="card-body">
                    <form class="needs-validation" method="post" action="/administrator/events/update/<%= event._id  %>" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Judul Events</label>
                        

                        <input class="form-control" id="exampleInputEmail1" required name="judul" type="text" aria-describedby="emailHelp" placeholder="Enter Judul" value="<%= event.judul %>">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Tanggal Events</label>
                            <input class="form-control" id="exampleInputEmail1" required name="tanggal" type="date" aria-describedby="emailHelp" placeholder="Enter Tanggal" value="<%= event.tanggal %>">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Penyelenggara</label>
                            <input class="form-control" id="exampleInputEmail1" required name="penyelenggara" type="text" aria-describedby="emailHelp" placeholder="Enter Penyelenggara" value="<%= event.penyelenggara %>">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Tipe Events</label>
                            <select class="form-control" id="exampleInputEmail1" required name="tipe" type="text" aria-describedby="emailHelp">
                                <option value="berbayar">Berbayar</option>
                                <option value="free">Free</option>
                            </select>
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Harga</label>
                          <input class="form-control" id="exampleInputEmail1" required name="harga" type="text" aria-describedby="emailHelp" placeholder="Enter Harga" value="<%= event.harga %>">
                    </div>
                      <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label for="exampleInputName">Waktu Mulai</label>
                            <input class="form-control" name="mulai" id="exampleInputName" type="time" aria-describedby="nameHelp" placeholder="waktu mulai" value="<%= event.mulai %>">
                          </div>
                          <div class="col-md-6">
                            <label for="exampleInputLastName">Waktu Selesai</label>
                            <input class="form-control" name="selesai" id="exampleInputLastName" type="time" aria-describedby="nameHelp" placeholder="waktu selesai" value="<%= event.selesai %>">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Foto Events</label><br>
                            <img src="http://localhost:3000/<%= event.foto %>" width="300"/><br><br>
                            <input class="form-control" id="exampleInputEmail1"  name="upl" type="file" aria-describedby="emailHelp" placeholder="Enter Photo">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Keterangan</label>
                            <textarea class="form-control" id="editor1" required name="keterangan" type="text" aria-describedby="emailHelp" placeholder="Enter Keterangan"><%= event.keterangan %></textarea>
                      </div>
                      
                     
                      <input type="submit" class="btn btn-primary btn-block" value="Update">
                      
                    </form>
                    
                  </div>
          
          
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    </div>
    <!-- /.container-fluid-->
 
    <%- include ../component/admin/footer.ejs %>
    <%- include ../component/admin/footerjs.ejs %>