<%- include ../component/admin/header_admin.ejs %>
  <%- include ../component/admin/sidebar.ejs %>
    <%- include ../component/admin/navigation.ejs %>
      <%- include ../component/admin/breadcumbs.ejs %>
        <%- include icon_stats.ejs %>

          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Data Member</div>
            <div class="card-body">

              <div class="table-responsive">
                <a class="btn btn-secondary" style="color: white" href="/administrator/member/tambah">Tambah Member</a>
                <br>
                <br>
                <% if(members.length>0) { %>
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Phone</th>
                        <th>Alamat</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Password</th>
                          <th>Phone</th>
                          <th>Alamat</th>
                          <th>Aksi</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% for(var i=0; i<members.length;i++) { %>
                        <tr>
                          
                          <td>
                            <%= members[i].username%>
                          </td>
                          <td>
                              <%= members[i].email%>
                          </td>
                          <td>
                              <%= members[i].password%>
                          </td>
                          <td>
                              <%= members[i].phone%>
                          </td>
                          <td>
                              <%= members[i].alamat%>
                          </td>
                          <td><a href="/administrator/member/edit/<%= members[i].id%>">Edit</a>| 
                            <a href="/administrator/member/delete/<%= members[i].id%>">Delete</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <div>No member found.</div>
                    <% } %>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          </div>
          </div>
          <!-- /.container-fluid-->

          <%- include ../component/admin/footer.ejs %>
            <%- include ../component/admin/footerjs.ejs %>