<%- include ../component/admin/header_admin.ejs %>
<%- include ../component/admin/sidebar.ejs %>
<%- include ../component/admin/navigation.ejs %>
<%- include ../component/admin/breadcumbs.ejs %>
<%- include icon_stats.ejs %>

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Events</div>
        <div class="card-body">
            <h4>Tambah Events</h4>
            <div class="card-body">
                    <form class="needs-validation" method="POST" action="/administrator/login/go">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Judul Events</label>
                        <input class="form-control" id="exampleInputEmail1" required name="judul" type="text" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Tanggal Events</label>
                            <input class="form-control" id="exampleInputEmail1" required name="judul" type="date" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Penyelenggara</label>
                            <input class="form-control" id="exampleInputEmail1" required name="judul" type="text" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Tipe Events</label>
                            <select class="form-control" id="exampleInputEmail1" required name="judul" type="date" aria-describedby="emailHelp">
                                <option>Berbayar</option>
                                <option>Free</option>
                            </select>
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Waktu Mulai</label>
                            <input class="form-control" id="exampleInputEmail1" required name="judul" type="time" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Waktu Selesai</label>
                            <input class="form-control" id="exampleInputEmail1" required name="judul" type="time" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Foto Events</label>
                            <input class="form-control" id="exampleInputEmail1" required name="judul" type="file" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Keterangan</label>
                            <textarea class="form-control" id="exampleInputEmail1" required name="judul" type="time" aria-describedby="emailHelp" placeholder="Enter username"></textarea>
                      </div>
                      
                     
                      <input type="submit" class="btn btn-primary btn-block" value="Login">
                    </form>
                    
                  </div>
          
          
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    </div>
    <!-- /.container-fluid-->
 
    <%- include ../component/admin/footer.ejs %>
    <%- include ../component/admin/footerjs.ejs %>