<%- include ../component/admin/header_admin.ejs %>
<%- include ../component/admin/sidebar.ejs %>
<%- include ../component/admin/navigation.ejs %>
<%- include ../component/admin/breadcumbs.ejs %>
<%- include icon_stats.ejs %>

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Events</div>
        <div class="card-body">
          
          
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    </div>
    <!-- /.container-fluid-->
 
    <%- include ../component/admin/footer.ejs %>
    <%- include ../component/admin/footerjs.ejs %>